:root {
    --color: #FA991C;
}

.button {
  background-color: #ff9900;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #ff6600;
}

.w-100 {
  width: 100%;
}




@media (min-width: 768px) {
  .button-59 {
    min-width: 170px;
  }
}