/* Rainbow background */
:root {
  --color: #FA991C;
}

.login-container {
  background: linear-gradient(
    135deg,
    #ff8c00,
    #ffae42,
    #ffd700,
    #ffa500,
    #ff6347,
    #ff4500,
    #ff69b4
  );
  background-size: 300% 300%;
  animation: gradient 5s linear infinite;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center; /* Center the content vertically */
  min-height: 100vh;
  padding: 2rem;
  overflow-y: auto; /* Add vertical scroll when content overflows */
  gap: 5rem;
}

@keyframes gradient {
  0% {
    background-position: 0% 100%;
  }
  10% {
    background-position: 100% 0%;
  }
  90% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

/* Rotate the login form slightly */
.login {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 400px; /* Adjust the maximum width as needed */
}

/* Style the form elements */
.login h2 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

.form-group {
  margin-bottom: 15px;
}

.password-div {
  display: flex;
  gap: 0.35rem;
  align-items: baseline;
}

label {
  display: block;
  font-size: 1.2rem;
  color: #555;
}

input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

/* Fun animation to the submit button */
button[type="submit"] {
  background-color: #ff9900;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1.2rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
  background-color: #ff6600;
}

/* Style the error message */
.login span {
  color: #ff0000;
  font-size: 1.2rem;
  display: block;
  text-align: center;
  margin-bottom: 15px;
}

/* Add a playful link to register */
.button {
  text-align: center;
  margin-top: 20px;
}

.link {
  text-decoration: none;
  border-bottom: 2px solid transparent;
  transition: border-color 0.3s ease;
}

@media (max-width: 768px) {
  .login {
    padding: 10px; /* Adjust padding for smaller screens */
    max-width: 100%;
  }

  .login h2 {
    font-size: 2rem; /* Adjust font size for smaller screens */
  }

  input[type="email"],
  input[type="password"] {
    font-size: 0.9rem; /* Adjust font size for smaller screens */
  }

  button[type="submit"] {
    padding: 8px 16px; /* Adjust padding for smaller screens */
    font-size: 1rem; /* Adjust font size for smaller screens */
  }
}

@media (min-width: 60em) {
  .login-container {
    flex-flow: row;
    align-items: start;
  }
}

