/* Style for the entire page */
.home {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
  }
  
  /* Style for the header */
  .header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  /* Style for the logo */
  .logo {
    margin-bottom: 20px;
  }
  
  /* Style for the main content */
  main {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for container sections */
  .container {
    margin: 20px 0;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Style for headings */
  h2 {
    color: #333;
  }
  
  /* Style for paragraphs */
  p {
    color: #666;
  }
  
  /* Style for the footer */
/* Style for the footer icons container */
.footer-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

/* Style for the individual icons */
.footer-icons a {
  color: #fff;
  font-size: 24px;
  text-decoration: none;
  margin: 0 10px;
}

.footer-icons a:hover {
  color: #0077cc; /* Change color on hover if desired */
}

  
  /* Style for blog post links */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  ul li {
    margin: 10px 0;
  }
  
  ul li a {
    text-decoration: none;
    color: #0077cc;
  }
  
  ul li a:hover {
    text-decoration: underline;
  }
  