.emp-job-list::-webkit-scrollbar {
    width: 0.4rem;
}

.emp-job-list::-webkit-scrollbar-track {
background: #171616;
}

.emp-job-list::-webkit-scrollbar-thumb {
background: #717171;
border-radius: 1rem;
}

.emp-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 80em;
    margin: auto;
}

.job-container {
    display: grid;
}

.emp-job-list {
    display: grid;
    grid-template-columns: 1fr;
    overflow-y: scroll;
}


@media (min-width: 60em) {

    .emp-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    
}