/* SCROLL */
.emp-job-list::-webkit-scrollbar {
    width: 0.4rem;
}

.emp-job-list::-webkit-scrollbar-track {
    background: #FA991C;
    border-radius: 1rem;
}

.emp-job-list::-webkit-scrollbar-thumb {
    background: #007bff;
    border-radius: 1rem;
}

.emp-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    max-width: 80em;
    margin: auto;
}

.emp-job-list {
    display: flex;
    gap: 1rem;
    flex-flow: column;
    padding: 0 1rem;
}

.emp-job {
    padding: 0.5rem;
    border: 1px solid black;
    border-radius: 0.25rem;
}

.job-container {
    display: grid;
}

.emp-job-viewer {
    padding: 1rem;
}

.button .link {
    font-size: 14px;
}

.job-card-widget {
    background: #fa9a1c94;

    overflow: hidden;
    height: 20em;
}

.job-card-widget [data-text] {
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    overflow: hidden;
    text-overflow: ellipsis;
    height: calc(80%);
}

@media (min-width: 70em) {

    .emp-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr;
    }

    .emp-job-list {
        display: grid;
        overflow-y: scroll;
        max-height: 60em;
    }

    [data-text] {
        display: grid;
        overflow-y: scroll;
        max-height: 35em;
        -webkit-box-orient: inherit;
        -webkit-line-clamp: inherit;
    }

    [data-text]::-webkit-scrollbar {
        width: 0.4rem;
    }
    
    [data-text]::-webkit-scrollbar-track {
        background: transparent;
        border-radius: 1rem;
    }
    
    [data-text]::-webkit-scrollbar-thumb {
        background: #007bff;
        border-radius: 1rem;
    }
    
    
    
}