.footer {
  background-color: #fa991c;
  color: #121213;
  padding: 0.5rem 0;
  text-align: center;
}

.footer-icons {
  margin-top: 1rem;
}

.footer-icons a {
  color: #101010;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}
