.footer {
  background-color: #fa991c;
  color: #1c768f;
  padding: 0.5rem 0;
  text-align: center;
}

.footer-icons {
  margin-top: 1rem;
}

.footer-icons a {
  color: #ffffff;
  font-size: 1.5rem;
  margin: 0 0.5rem;
}
