.job-card {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 20px auto; /* Center horizontally */
  max-width: 60%; /* Wider content */
  text-align: left;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center vertically */
  border-bottom: 1px solid #ddd;
}

.job-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.job-title {
  color: #333333;
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bold; /* Add bold font weight */
  font-family: Arial, sans-serif; /* Specify a font family */
  line-height: 1.2; /* Adjust line height for better readability */
  text-transform: capitalize; /* Transform text to capitalize */
}

.company-info {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 20px; /* Increased margin for more separation */
}

.company-info h4 {
  font-weight: bold;
  font-size: 1.2rem;
}

.company-info p {
  font-size: 1rem;
  color: #777777;
}

.salary {
  font-size: 1.2rem;
  color: #007bff;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-top: 10px;
}

.tags p {
  background-color: #007bff;
  color: #ffffff;
  border-radius: 4px;
  padding: 5px 10px;
  font-size: 0.9rem;
}

.category {
  font-size: 1rem;
  color: #777777;
}

.description {
  margin-top: 20px;
  font-size: 1rem;
  color: #555555;
}

.buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.job-card button {
  background-color: #007bff;
  color: #ffffff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
  margin-right: 10px;
}

.job-card button:last-child {
  margin-right: 0;
}

.job-card button:hover {
  background-color: #0056b3;
}

.job-error-span {
  color: #ff0000;
  font-weight: bold;
  font-size: 1rem;
}
