.category-menu {
background: rgba(255, 255, 255, 0.8);
  /* border-radius: 10px; */
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.3); 
  text-align: center;
}

.category-menu h2 {
  font-size: 1.5em; /* Adjust the font size as needed */
  margin-bottom: 20px; /* Add more spacing between the title and the job list */
  color: #333; /* Change the text color if desired */
  font-weight: bold; /* Make the title bold for emphasis */
  text-transform: uppercase; /* Convert text to uppercase for style */
  letter-spacing: 2px; /* Add letter-spacing for better readability */
  /* Add more CSS properties as needed for your styling */
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-button {
  background-color:#0a74ee;
  color: #fffafa;
  border: none;
  border-radius: 5px;
  padding: 12px 24px; 
  margin: 8px; 
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-weight: bold; 
}

.category-button:hover {
  background-color:  #2ecc71
}

.category-button.active {
  background-color: #2ecc71;
}

/* Media query for responsiveness */
@media (max-width: 768px) {
  .category-button {
    width: 100%;
  }
}
